body {
  margin: 0;
  font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1599476511916-a7215d8ee77b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  margin-top: 50px !important;
  font-family: "JetBrains Mono" !important;
  opacity: 0.9 !important;
}

#button {
  margin-right: 10px !important;
}

.buttonTop {
  margin-top: 10px !important;
}

h1 {
  text-align: center;
  margin-top: 50px !important;
  font-family: "JetBrains Mono";
  color: white;
}
#top {
  margin-top: 30px !important;
}
